<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--引入数据源-->
    <properties resource="security.properties"/>

    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

    <!-- 和Spring整合后environment配置都会被干掉 -->
    <environments default="development">
        <environment id="development">
            <!-- 使用jdbc事务管理，目前由mybatis来管理 -->
            <transactionManager type="JDBC" />
            <!-- 数据库连接池，目前由mybatis来管理 -->
            <dataSource type="POOLED">
                <!--有关于mysql数据库的各种信息-->
                <property name="driver" value="${security.datasource.driver-class-name}" />
                <property name="url" value="${security.datasource.url}" />
                <property name="username" value="${security.datasource.username}" />
                <property name="password" value="${security.datasource.password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--将操作配置文件User.xml系添加进mapper-->
        <mapper resource="mybatis_security_admin_mapper_xml/TbPermissionMapper.xml" />
        <mapper resource="mybatis_security_admin_mapper_xml/TbRoleMapper.xml" />
        <mapper resource="mybatis_security_admin_mapper_xml/TbRolePermissionMapper.xml" />
        <mapper resource="mybatis_security_admin_mapper_xml/TbUserMapper.xml" />
        <mapper resource="mybatis_security_admin_mapper_xml/TbUserRoleMapper.xml" />
    </mappers>
</configuration>